.shaded{
	background: -webkit-linear-gradient(left,#C7C7C7, #C3D1F0);
	background: o-linear-gradient(right,#C7C7C7, #C3D1F0);
	background: -moz-linear-gradient(right,#C7C7C7, #C3D1F0);
	background: linear-gradient(to right,#C7C7C7, #C3D1F0);
}
.y400{
	max-height:400px;
	overflow-y:hidden;
}
.banner{
	box-shadow: 10px 10px 5px #888888;
	border-radius: 35px 10px;
	margin:0 auto 23px auto;
	width:80%;
	max-width:1050px;
}
.center{
	text-align:center
}
.coolform{
display: inline-block;
border-radius: 35px;
font-size: large;
padding: 13px 22px;
overflow: hidden;
background-color: rgba(255,255,255,0.86);
box-shadow: 10px 10px 5px #888888;
}
input {
	padding:2px;
	margin: 3px;
}